<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    
    
        div{
            text-align: center;
        }

        #sbutton{
            background-color: blue;
            line-height: 35px;
            border-radius: 7px;
            border-color: transparent;
            color:yellow;
            font-size: 20px;
            text-shadow: -2px -2px black;
            

            
        }
    
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>You're account is created</h1>
    <form action='/editdetails' method='POST'>

        <input type="submit" id='sbutton' value='Click to update profile'>

    </form>
</div>

</body>
</html>