<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/getotp/<%= vlink %>' method='POST'>
           Enter OTP<br> <input type="text" name='otp'>
           <button type="submit">Confirm</button>


    </form>
    <h3><%=  otpisvalid %></h3>
    <h3><%=  timerlapsed %></h3>
    
</body>
</html>