<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>

    setInterval(() => {
      ep = document.getElementById('enterpwd')
      cp = document.getElementById('cnfpwd')

      if(!(ep.value === cp.value))
      {
        document.getElementById('cnfpwderror').innerText = 'Passwords do not match'
      }
      else
      {
        document.getElementById('cnfpwderror').innerText = ''
      }


    },500)     
        
     
     
    </script>

</head>
<body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-inverse">
                        <div class="container">
                          <div class="navbar-header">
                            <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
                          </div>
                          <!-- <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                          </ul> -->
                          <ul class="nav navbar-nav navbar-right">
                                
                          </ul>
                        </div>
                      </nav>
            </div>
            
            <div class="row">
            	<div class = "col-lg-8">
                <div class="container">
                	<form class="form-inline" action="/setpassword/<%= vlink %>" method="POST">
                      
                      <label for="username" class="mr-sm-2" id="username">Username</label><br>
                      <input type="text" class="form-control mb-2 mr-sm-2" id="username" name="username"><div id="enterpwderror"></div><br><br><br>
						          <label for="enterpwd" class="mr-sm-2" id="enterpwdlabel">Enter Password</label><br>
				        		  <input type="password" class="form-control mb-2 mr-sm-2" id="enterpwd" name="enterpwd" required><div id="enterpwderror"></div><br><br><br>
				        		  <label for="cnfpwd" class="mr-sm-2" id="cnfpwdlabel">Confirm Password</label><br>
                      <input type="password" class="form-control mb-2 mr-sm-2" id="cnfpwd" name="cnfpwd" required><div id="cnfpwderror"></div><br><br><br>
                     
						  
						  <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>
          <br><br>
          <div>
              <%=  matchStatus %>
          </div>


                </div>
               	</div>

               







                







            </div>
           
        </div>
       

       
    
</body>
</html>
